/* Photo Gallery Page CSS */

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  padding: 20px;
}

/* Gallery item */
.gallery-item {
  background-color: #FEFAF6;
  overflow: hidden;
/*  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
/*  position: relative;*/
}

.gallery-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-caption {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
}