/* Meet The Artist Page CSS*/
.meet-the-artist {
  text-align: center;
  padding: 20px;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

/* Artist section */
.artist-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.artist-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.artist-bio {
  max-width: 600px;
  text-align: left;
}

.artist-bio-right {
  max-width: 600px;
  text-align: right;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

/* Guest artist section*/
.artist-profiles {
  display: flex;
  justify-content: space-evenly; 
  gap: 20px;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.artist-profile {
  width: 45%;
  text-align: center;
  margin: 20px 0;
}

.guest-artist-bio {
  margin-top: 15px;
  text-align: left;
}

.guest-artist-bio-left {
  margin-top: 15px;
  text-align: right;
}

#subtxt {
  max-width: 50%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .artist-profile {
    width: 100%; /* On smaller screens, stack the profiles vertically */
  }
}